      </main>
       <footer>
           <p>&copy; <%= new Date().getFullYear() %> SCRIBL - Book Notes App</p>
       </footer>
       <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
       <script src="/js/main.js"></script>
   </body>
   </html>